<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>main</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="#" style="display:none;" >Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="#" >Login</a>
                <a href="#">Register</a>
                <a href="#">About</a>
            </div>
    </div>
<h1>Login sucessfull</h1>
</body>
</html>